*{ 
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}
.main-container{
    position: relative;
}
p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
}
.btn{
    height: 35px;
}
h1.title{
    margin-bottom: 20px;
	color: #444444;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 5px;
}
.bold{
    font-weight: bold;
}

.navbar{
    padding-top: 10px;
    width: 100%;
    height: 65px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-items ul{
    list-style-type: none;
    display: flex;
}
.navbar-items a{
    color: whitesmoke;
}
.navbar li{
    text-transform: uppercase;
    margin: 0 10px;
}
.logo a{
    font-family: 'Allura', cursive;
    font-size: 45px;
    color: tomato;
    margin-right: 418px;
}
.banner-image{
    background: url(images/blake-connally-IKUYGCFmfw4-unsplash.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-content h1{
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 50px;
}
.banner-content h1 span{
    color: tomato;
}


.about,.topics,.practice,.contact{
    padding: 5% 10%;
    text-align: center;
}
.about p,div{
    margin-bottom: 20px;
    font-size: 19px;
}
.btn a{
    display: block;
    width: 180px;
    height: 35px;
    margin: 25px auto;
    line-height: 35px;
    border: 2px solid tomato;
    color: tomato;
    text-align: center;
}
.btn a:hover{
    background-color: black;
    color: white;
}
.topics{
    background-color: #f5f5f5;
}
.topics p{
    margin-bottom: 20px;
    font-size: 19px;
}
/* .card-container{
    margin-top: 35px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}
.back,.front{
    background-color: tomato;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 35px;
    list-style-type: disc;
}
.back{
    color: white;
    padding: 20px;
    line-height: 25px;
    transform: rotateY(180deg);
    z-index: 1;
}
.card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;   
    transform-style: preserve-3d;
    text-align: center;
}
.card-container:hover .card{
    transform: rotateY(180deg);
} */
.topic-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-container{
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: 5px;
    perspective: 1000px;
}
.card{
    position: relative;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card-container:hover .card{
    transform: rotateY(180deg);
}
.front,.back{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back ul{
    list-style-type: none;
}
.front{
    width: 200px;
    height: 200px;
    background-color: tomato;
    color: black;
    padding-top: 55px;
}
.back{
    background-color: tomato;
    overflow: hidden;
    transform: rotateY(180deg);
    z-index: 1;
}
.back li{
    margin-top: 10px;
}
.front{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.practice p{
    margin-bottom: 20px;
    font-size: 19px;
}
.practice-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;
}
.practice-card{
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6)  ; 
	-webkit-box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6)  ; 
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 25px 4px;
}
.practice-card:hover{
    transform: scale(1.125,1.125);
}

.practice-card p{
    padding-top: 10px;
}
.practice img{
    width: 100%;
    height: 100%;
}
#hackerearth{
    border-radius: 15%;
}

.contact{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
.contact p{
    margin-bottom: 20px;
    font-size: 19px;
}
.form_i .form_input{
	padding: 12px 20px; 
    margin-bottom: 20px;
}
.form_input{
    text-align: center;
}
input{
    text-align: center;
    width: 300px;
    height: 60px;
}
textarea{
    text-align: center;
    padding-top: 80px;
    width: 542px;
    height: 174px;
}

.arrow{
    position: fixed;
    bottom: 10px;
    right: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
.arrow img{
	width: 60px;
	height: 60px;
	z-index: 1;
}
